<div class="container mt-5">
    <div class="row">
        <div class="col text-center">
            <h1 style="font-size: 80px;">404</h1>
            <img height="400px" src="https://cdn.dribbble.com/users/1825623/screenshots/4191750/kingfisherdive.gif" alt="pnf-image">
            <h4 class="fw-bolder">Look Like You're Lost</h4>
            <p class="fw-bold">The page you're looking is not available!!!</p>
            <button routerLink="/" class="btn btn-success mt-2">Home</button>
        </div>
    </div>
</div>
