  <!-- Product section-->
  <section class="py-5">
    <div class="container px-4 px-lg-5 my-5 ">
        <div class="row gx-4 gx-lg-5 align-items-center" >
            <div class="col-md-4"><img class="card-img-top mb-5 mb-md-0" [src]=product.image [alt]=product.title /></div>
            <div class="col-md-6 ms-auto">
                <div class="small mb-1">Product Id: {{product._id}}</div>
                <h1 class="display-5 fw-bolder">{{product.title}}</h1>
                <div class="fs-5 mb-5">
                    
                    <span>${{product.price}}</span>
                </div>
                <p class="lead">{{product.description}}</p>
                <div class="d-flex justify-content-between">
                    <button (click)="addToWishlist(product)" class="btn btn-warning"><i class="fa-solid fa-heart-circle-plus me-1"></i>Add to Wishlist</button>
                    <button (click)="addtocart(product)" class="btn btn-success flex-shrink-0" type="button">
                        <i class="fa-solid fa-cart-plus me-1"></i>
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
